rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      // Izinkan semua operasi baca dan tulis. Ini hanya untuk pengembangan.
      allow read, write: if true;
    }
  }
}
